# 1. 순환문

특정한 행위(것)를 여러 번 수행하는 문장.  
for 와 while

### for 문

- 반복되는 클래스의 객체를 가져와서 그 내부에 원소를 읽음.

In [4]:
range(0, 10)

range(0, 10)

In [6]:
for data in range(1, 10):
    print(data)

1
2
3
4
5
6
7
8
9

#### range
- 범위 : 첫 인덱스 ~ 마지막 인덱스 - 1

In [7]:
a = range(10)

In [8]:
type(a)

range

In [9]:
a.__class__

range

In [11]:
for data in [1,3,7,4]:
    print(data)

1
3
7
4

In [12]:
for data in "abc":
    print(data)

a
b
c

In [20]:
dict_data = {'a': 1, 'b': 2}
for data in dict_data:
    print(f"{data} : { dict_data[data] }")

a : 1
b : 2

In [21]:
print(dict_data.keys())
for data in dict_data.keys():
    print(data)

dict_keys(['a', 'b'])
a
b

In [18]:
for data in dict_data.values():
    print(data)

1
2

In [22]:
for (k, v) in dict_data.items():
    print(k, v)

a 1
b 2

In [24]:
print("HEIGHT : " + str(165))

HEIGHT : 165

In [25]:
f'HEIGHT : { 165 }'

'HEIGHT : 165'

#### break

In [28]:
for data in range(5):
    print("loop")
    break

loop

### continue

In [31]:
for data in range(10):
    if data % 2 == 0:
        continue
    print(f'{ data } : loop')

1 : loop
3 : loop
5 : loop
7 : loop
9 : loop

In [32]:
for data in range(5):
    print(data)
else:
    print("for loop end")

0
1
2
3
4
for loop end

In [35]:
for data in range(5):
    if data == 3:
        break
    print(data)
else:
    print("for loop end")

0
1
2

In [36]:
for first in range(2,10):
    print(f'{first}단')
    for second in range(1,10):
        print(f'{ first } X { second } = { first * second }')
    
    print()

2단
2 X 1 = 2
2 X 2 = 4
2 X 3 = 6
2 X 4 = 8
2 X 5 = 10
2 X 6 = 12
2 X 7 = 14
2 X 8 = 16
2 X 9 = 18

3단
3 X 1 = 3
3 X 2 = 6
3 X 3 = 9
3 X 4 = 12
3 X 5 = 15
3 X 6 = 18
3 X 7 = 21
3 X 8 = 24
3 X 9 = 27

4단
4 X 1 = 4
4 X 2 = 8
4 X 3 = 12
4 X 4 = 16
4 X 5 = 20
4 X 6 = 24
4 X 7 = 28
4 X 8 = 32
4 X 9 = 36

5단
5 X 1 = 5
5 X 2 = 10
5 X 3 = 15
5 X 4 = 20
5 X 5 = 25
5 X 6 = 30
5 X 7 = 35
5 X 8 = 40
5 X 9 = 45

6단
6 X 1 = 6
6 X 2 = 12
6 X 3 = 18
6 X 4 = 24
6 X 5 = 30
6 X 6 = 36
6 X 7 = 42
6 X 8 = 48
6 X 9 = 54

7단
7 X 1 = 7
7 X 2 = 14
7 X 3 = 21
7 X 4 = 28
7 X 5 = 35
7 X 6 = 42
7 X 7 = 49
7 X 8 = 56
7 X 9 = 63

8단
8 X 1 = 8
8 X 2 = 16
8 X 3 = 24
8 X 4 = 32
8 X 5 = 40
8 X 6 = 48
8 X 7 = 56
8 X 8 = 64
8 X 9 = 72

9단
9 X 1 = 9
9 X 2 = 18
9 X 3 = 27
9 X 4 = 36
9 X 5 = 45
9 X 6 = 54
9 X 7 = 63
9 X 8 = 72
9 X 9 = 81

#### while문
- 특정 조건식이 만족하는 경우에 순환을 처리

In [44]:
index = 0
is_while = True

while is_while:
    if index >= 5:
        is_while = False
    print("loop")
    index += 1
else:
    print("while else end")

loop
loop
loop
loop
loop
loop
while else end

In [47]:
first = 2
second = 1

is_dan = False

while True:
    if is_dan is False:
        print(f'{ first }단')
        is_dan = True
    
    print(f'{ first } X { second } = { first * second }')

    if second == 9:
        if first == 9:
            break
        
        is_dan = False
        second = 1
        first += 1
        
    second += 1

2단
2 X 1 = 2
2 X 2 = 4
2 X 3 = 6
2 X 4 = 8
2 X 5 = 10
2 X 6 = 12
2 X 7 = 14
2 X 8 = 16
2 X 9 = 18
3단
3 X 2 = 6
3 X 3 = 9
3 X 4 = 12
3 X 5 = 15
3 X 6 = 18
3 X 7 = 21
3 X 8 = 24
3 X 9 = 27
4단
4 X 2 = 8
4 X 3 = 12
4 X 4 = 16
4 X 5 = 20
4 X 6 = 24
4 X 7 = 28
4 X 8 = 32
4 X 9 = 36
5단
5 X 2 = 10
5 X 3 = 15
5 X 4 = 20
5 X 5 = 25
5 X 6 = 30
5 X 7 = 35
5 X 8 = 40
5 X 9 = 45
6단
6 X 2 = 12
6 X 3 = 18
6 X 4 = 24
6 X 5 = 30
6 X 6 = 36
6 X 7 = 42
6 X 8 = 48
6 X 9 = 54
7단
7 X 2 = 14
7 X 3 = 21
7 X 4 = 28
7 X 5 = 35
7 X 6 = 42
7 X 7 = 49
7 X 8 = 56
7 X 9 = 63
8단
8 X 2 = 16
8 X 3 = 24
8 X 4 = 32
8 X 5 = 40
8 X 6 = 48
8 X 7 = 56
8 X 8 = 64
8 X 9 = 72
9단
9 X 2 = 18
9 X 3 = 27
9 X 4 = 36
9 X 5 = 45
9 X 6 = 54
9 X 7 = 63
9 X 8 = 72
9 X 9 = 81

# 2. 제어문

keyword : if (elif) else  
특정 조건을 판단해서 특정 기능을 처리.

### 비교 연산자
  
== ( equal ), <, >, >=, <=

In [48]:
100 == 100

True

In [49]:
100 < 99

False

### 논리 연산자

and, or

In [50]:
(100 == 100) and (100 > 99)

True

In [51]:
(100 == 100) and (100 < 99)

False

In [52]:
(100 == 100) or (100 > 99)

True

In [54]:
(100 == 100) or (100 < 99)

True

### 단순 조건문 if

In [55]:
import random

In [59]:
random_value = random.randint(0, 10)

if random_value < 3:
    print("3 under")
elif random_value < 6:
    print("6 under")
else:
    print("6 over")
    
print(random_value)

6 over
9

### 삼항연산자

In [60]:
random_value = random.randint(0, 10)

print("5 over") if random_value > 5 else print("5 under")
print(random_value)

5 under
3

In [61]:
input("값을 입력하세요.")

값을 입력하세요.1

'1'

In [62]:
import random

In [68]:
def game_20():
    random_value = random.randint(0,50)
    
    for index in range(20):
        input_value = int(input('정답을 입력해주세요.'))

        if input_value == random_value:
            print("정답입니다!")
            break
        elif input_value < random_value:
            print("작습니다.")
        else:
            print("큽니다.")
    else:
        print("스무고개 게임이 종료됐습니다.")

In [67]:
game_20()

정답을 입력해주세요.6
정답입니다!

In [70]:
import keyword

In [71]:
print(keyword.kwlist)

['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

In [80]:
dict_value = {
    '1': "1을 눌렀습니다.",
    '2': "2을 눌렀습니다.",
    '3': game_20,
}

In [81]:
if '3' in dict_value:
    dict_value['3']()

정답을 입력해주세요.8
작습니다.
정답을 입력해주세요.10
작습니다.
정답을 입력해주세요.20
작습니다.
정답을 입력해주세요.50
큽니다.
정답을 입력해주세요.40
큽니다.
정답을 입력해주세요.30
큽니다.
정답을 입력해주세요.25
큽니다.
정답을 입력해주세요.24
정답입니다!

# 3. 예외문
  
keyword : try except  
모든 코드는 실행 중에 에러나 예외가 발생하는 상황 존재.  
특정 코드를 처리하게끔 해주는 것.

In [93]:
import sys

is_try = False
print(is_try)

try:
    print("try")
    print('str' + 1)
except Exception as e:
    print("Exception")
    is_try = True
    print(sys.exc_info()[0])
    print(e)
finally:
    print("Finally")
    if is_try == True:
        print("Send Email for warning")

False
try
Exception
<class 'TypeError'>
can only concatenate str (not "int") to str
Finally
Send Email for warning

In [86]:
print('str' + 1)

TypeError: can only concatenate str (not "int") to str

In [116]:
a = [1,2,3,4]

In [117]:
a

[1, 2, 3, 4]

In [118]:
b = a

In [119]:
b

[1, 2, 3, 4]

In [120]:
id(a), id(b)

(140450035534336, 140450035534336)

In [121]:
id(a)==id(b)

True

In [122]:
b[0] = 100

In [123]:
b

[100, 2, 3, 4]

In [124]:
a

[100, 2, 3, 4]

In [126]:
import copy

In [127]:
a = [1,2,3,4]

In [128]:
a

[1, 2, 3, 4]

In [129]:
b = copy.deepcopy(a)

In [130]:
b

[1, 2, 3, 4]

In [131]:
id(a), id(b)

(140450038997696, 140450045452608)

In [132]:
b[0] = 99

In [133]:
b

[99, 2, 3, 4]

In [134]:
a

[1, 2, 3, 4]

In [135]:
copy = 100

In [136]:
copy.deepcopy

AttributeError: 'int' object has no attribute 'deepcopy'

In [137]:
copy

100

In [138]:
import copy

In [139]:
copy

In [140]:
from datetime import *

In [145]:
def datetime():
    return 5

In [146]:
datetime()

5

In [149]:
datetime.__class__

function

In [150]:
from datetime import datetime

In [151]:
datetime.__class__

type

>세 자연수 a, b, c 가 피타고라스 정리 a2 + b2 = c2 를 만족하면 피타고라스 수라고 부릅니다 (여기서 a < b < c ).
예를 들면 32 + 42 = 9 + 16 = 25 = 52이므로 3, 4, 5는 피타고라스 수입니다.
a + b + c = 1000 인 피타고라스 수 a, b, c는 한 가지 뿐입니다. 이 때, a × b × c 는 얼마입니까?

In [167]:
a = 1
b = 2
c = 3

for a_value in range(a, 500):
    for b_value in range(b, 500):
        if b_value < a_value:
            continue
            
        for c_value in range(c, 500):
            if c_value < b_value:
                continue

            if a_value + b_value + c_value == 1000:
                if (a_value**2 + b_value**2) == c_value**2:
                    print(a_value, b_value, c_value)
                    break

200 375 425

In [165]:
200**2 + 375**2 == 425**2

True

In [168]:
200 * 375 * 425

31875000