## 함수도 객체다.

- 함수도 다른 객체처럼 클래스를 가지고 있다.
- 함수도 다른 객체처럼 변수에 할당도 가능하고, 즉 매개변수로 전달이 가능합니다.

In [14]:
def add(x, y):
    """덧셈을 위한 함수"""
    return x + y

In [2]:
type(add)

function

In [3]:
import types

In [5]:
print(dir(types))

['AsyncGeneratorType', 'BuiltinFunctionType', 'BuiltinMethodType', 'CellType', 'ClassMethodDescriptorType', 'CodeType', 'CoroutineType', 'DynamicClassAttribute', 'FrameType', 'FunctionType', 'GeneratorType', 'GetSetDescriptorType', 'LambdaType', 'MappingProxyType', 'MemberDescriptorType', 'MethodDescriptorType', 'MethodType', 'MethodWrapperType', 'ModuleType', 'SimpleNamespace', 'TracebackType', 'WrapperDescriptorType', '_GeneratorWrapper', '__all__', '__builtins__', '__cached__', '__doc__', '__file__', '__loader__', '__name__', '__package__', '__spec__', '_calculate_meta', '_cell_factory', 'coroutine', 'new_class', 'prepare_class', 'resolve_bases']

In [6]:
from types import FunctionType

In [7]:
add.__class__ is FunctionType

True

In [8]:
add_ = add

In [9]:
add_(1,2)

3

In [10]:
id(add_), id(add)

(140243217398224, 140243217398224)

In [11]:
add_.__class__ is FunctionType

True

In [12]:
FunctionType

function

## 매개변수에 초기 고정값 지정하기

- 매개변수에 초기값을 지정하는 이유는 이 매개변수에 인자가 안들어올경우 에러 없이 처리하기위해 존재.
- 다른 언어는 함수를 오버로딩이 가능해서 여러 함수를 정의하는 것을 방지하기 위해 초기값을 지정하지만
- 여러 함수를 동시에 정의할 수 없어서 초기값만으로 여러 함수를 정의한 것처럼 사용하게 됩니다.

In [15]:
def subtract(x=1,y=2):
    return x-y

In [16]:
def add(x,y):
    return x+y

In [17]:
globals()['add']

In [18]:
def add(x,y,z):
    return x+y+z

In [19]:
globals()['add']

In [28]:
def subtract(x=1,y=2):
    return x-y

In [29]:
print(dir(subtract))

['__annotations__', '__call__', '__class__', '__closure__', '__code__', '__defaults__', '__delattr__', '__dict__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__get__', '__getattribute__', '__globals__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__kwdefaults__', '__le__', '__lt__', '__module__', '__name__', '__ne__', '__new__', '__qualname__', '__reduce__', '__reduce_ex__', '__repr__', '__setattr__', '__sizeof__', '__str__', '__subclasshook__']

In [30]:
subtract.__defaults__

(1, 2)

In [35]:
subtract(y=3)

-2

In [48]:
def sample_function(a,b, c=1,d=2, *, kwarg1="123", kwargs2="name"):
    print(a,b)

In [49]:
sample_function.__defaults__

(1, 2)

In [50]:
sample_function.__kwdefaults__

{'kwarg1': '123', 'kwargs2': 'name'}

In [64]:
N = 7

schedule = [
    {
        'name': '1일',
        'T': 3,
        'P': 10
    },
    {
        'name': '2일',
        'T': 5,
        'P': 20
    },
    {
        'name': '3일',
        'T': 1,
        'P': 10
    },
    {
        'name': '4일',
        'T': 1,
        'P': 20
    },
    {
        'name': '5일',
        'T': 2,
        'P': 15
    },
    {
        'name': '6일',
        'T': 4,
        'P': 40
    },
    {
        'name': '7일',
        'T': 2,
        'P': 200
    },
]

In [84]:
N = 10

schedule = [
    {
        'name': '1일',
        'T': 1,
        'P': 1
    },
    {
        'name': '2일',
        'T': 1,
        'P': 2
    },
    {
        'name': '3일',
        'T': 1,
        'P': 3
    },
    {
        'name': '4일',
        'T': 1,
        'P': 4
    },
    {
        'name': '5일',
        'T': 1,
        'P': 5
    },
    {
        'name': '6일',
        'T': 1,
        'P': 6
    },
    {
        'name': '7일',
        'T': 1,
        'P': 7
    },
    {
        'name': '8일',
        'T': 1,
        'P': 8
    },
    {
        'name': '9일',
        'T': 1,
        'P': 9
    },
    {
        'name': '10일',
        'T': 1,
        'P': 10
    },
]

In [88]:
N = 10

schedule = [
    {
        'name': '1일',
        'T': 5,
        'P': 10
    },
    {
        'name': '2일',
        'T': 5,
        'P': 9
    },
    {
        'name': '3일',
        'T': 5,
        'P': 8
    },
    {
        'name': '4일',
        'T': 5,
        'P': 7
    },
    {
        'name': '5일',
        'T': 5,
        'P': 6
    },
    {
        'name': '6일',
        'T': 5,
        'P': 10
    },
    {
        'name': '7일',
        'T': 5,
        'P': 9
    },
    {
        'name': '8일',
        'T': 5,
        'P': 8
    },
    {
        'name': '9일',
        'T': 5,
        'P': 7
    },
    {
        'name': '10일',
        'T': 5,
        'P': 6
    },
]

In [89]:
for index, data in enumerate(schedule):
    print(f'{index+1}일 : {data}')

1일 : {'name': '1일', 'T': 5, 'P': 10}
2일 : {'name': '2일', 'T': 5, 'P': 9}
3일 : {'name': '3일', 'T': 5, 'P': 8}
4일 : {'name': '4일', 'T': 5, 'P': 7}
5일 : {'name': '5일', 'T': 5, 'P': 6}
6일 : {'name': '6일', 'T': 5, 'P': 10}
7일 : {'name': '7일', 'T': 5, 'P': 9}
8일 : {'name': '8일', 'T': 5, 'P': 8}
9일 : {'name': '9일', 'T': 5, 'P': 7}
10일 : {'name': '10일', 'T': 5, 'P': 6}

In [95]:
result_data = []

for index1, data1 in enumerate(schedule):
    remain_days = N
    result_datum = []
    for index2, data2 in enumerate(schedule):
        if index2 < index1:
            continue
        
        if data2['T'] <= remain_days:
            if len(result_datum) > 0:
                if result_datum[len(result_datum) - 1]['T'] < index2 + 1 and N - (index2) >= data2['T']:
                    result_datum.append(data2)
                    remain_days -= data2['T']
            else:
                if N - (index2) >= data2['T']:
                    result_datum.append(data2)
                    remain_days -= data2['T']
    
    if len(result_datum) > 0:
        result_data.append(result_datum)
    
result = []
for data in result_data:
    total = 0
    for datum in data:
        total += datum['P']
        
    result.append({'total': total, 'data': data})
    
from operator import itemgetter

data = sorted(result, key=itemgetter('total'))

print(data)
print(data[len(data) - 1])

[{'total': 10, 'data': [{'name': '6일', 'T': 5, 'P': 10}]}, {'total': 16, 'data': [{'name': '5일', 'T': 5, 'P': 6}, {'name': '6일', 'T': 5, 'P': 10}]}, {'total': 17, 'data': [{'name': '4일', 'T': 5, 'P': 7}, {'name': '6일', 'T': 5, 'P': 10}]}, {'total': 18, 'data': [{'name': '3일', 'T': 5, 'P': 8}, {'name': '6일', 'T': 5, 'P': 10}]}, {'total': 19, 'data': [{'name': '2일', 'T': 5, 'P': 9}, {'name': '6일', 'T': 5, 'P': 10}]}, {'total': 20, 'data': [{'name': '1일', 'T': 5, 'P': 10}, {'name': '6일', 'T': 5, 'P': 10}]}]
{'total': 20, 'data': [{'name': '1일', 'T': 5, 'P': 10}, {'name': '6일', 'T': 5, 'P': 10}]}

In [96]:
print('Case #1: 1 + 1 = 2')
print('Case #2: 2 + 3 = 5')
print('Case #3: 3 + 4 = 7')
print('Case #4: 9 + 8 = 17')
print('Case #5: 5 + 2 = 7')

Case #1: 1 + 1 = 2
Case #2: 2 + 3 = 5
Case #3: 3 + 4 = 7
Case #4: 9 + 8 = 17
Case #5: 5 + 2 = 7

### 익명함수 lambda 함수

- 이름없는 함수를 제작할수 있다.
- 이름없는 함수는 사용한 즉시 가비지컬렉션으로 사라짐.
- 변수에 할당할 경우는 이름있는 함수로 지정해서 사용해야 함.

1. 익명함수 정의 및 실행

- lambda 키워드를 사용
- : ( 콜론 )으로 나눠지는데, 좌측은 매개변수 우측은 표현식을 지정

In [97]:
lambda x : x + 1

In [98]:
(lambda x : x + 1)(3)

4

In [99]:
from types import FunctionType

In [100]:
(lambda x : x + 1).__class__ is FunctionType

True

### 재귀함수

- 함수 자신을 호출하고 함수의 결과와 다른 변수가 계산되어 처리하는 함수
- 꼬리 재귀는 함수 자신만을 호출해서 처리하는 재귀함수
- 특징 : 순화문없이 함수를 호출해서 순환을 처리

예시 : 5! = 5 x 4 x 3 x 2 x 1

In [101]:
def factorial_for(n):
    result = 1
    for index in range(1, n+1):
        result *= index
        
    return result

In [102]:
factorial_for(5)

120

In [103]:
def factorial_recursive(n):
    return n * factorial_recursive(n - 1) if n > 1 else 1

In [104]:
factorial_recursive(5)

120

In [105]:
input_data = input("예제 입력 1 : ")

예제 입력 1 : 1 2

In [106]:
input_data

'1 2'

In [107]:
input_data[0], input_data[2]

('1', '2')

In [108]:
print(dir(input_data))

['__add__', '__class__', '__contains__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__getnewargs__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mod__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__rmod__', '__rmul__', '__setattr__', '__sizeof__', '__str__', '__subclasshook__', 'capitalize', 'casefold', 'center', 'count', 'encode', 'endswith', 'expandtabs', 'find', 'format', 'format_map', 'index', 'isalnum', 'isalpha', 'isascii', 'isdecimal', 'isdigit', 'isidentifier', 'islower', 'isnumeric', 'isprintable', 'isspace', 'istitle', 'isupper', 'join', 'ljust', 'lower', 'lstrip', 'maketrans', 'partition', 'replace', 'rfind', 'rindex', 'rjust', 'rpartition', 'rsplit', 'rstrip', 'split', 'splitlines', 'startswith', 'strip', 'swapcase', 'title', 'translate', 'upper', 'zfill']

In [109]:
input_data.split(' ')

['1', '2']

In [110]:
split_input_data = input_data.split(' ')

In [112]:
int(split_input_data[0])\
+ int(split_input_data[len(split_input_data) - 1])

3

In [133]:
def input_AB():
    input_data = input("예제 입력 : ")
    split_input_data = input_data.split(' ')
    
    A = int(split_input_data[0])
    if ( A <= 0 or A >= 10 ):
        print("A의 범위가 올바르지 않습니다.")
        return None
    
    B = int(split_input_data[1])
    if ( B <= 0 or B >= 10 ):
        print("B의 범위가 올바르지 않습니다.")
        return None
    
    return (A, B)

def A_add_B():
    data = input_AB()
    if data is None:
        return
    
    print(f'예제 출력 : {data[0] + data[1]}')

    
def A_multiple_B():
    data = input_AB()
    if data is None:
        return
    
    print(f'예제 출력 : {data[0] * data[1]}')
    
def A_subtract_B():
    data = input_AB()
    if data is None:
        return
    
    print(f'예제 출력 : {data[0] - data[1]}')
    
def A_divide_B():
    data = input_AB()
    if data is None:
        return
    
    print(f'예제 출력 : {data[0] / data[1]}')

In [132]:
A_add_B()

예제 입력 : 1 2
예제 출력 : 3

In [129]:
A_multiple_B()

예제 입력 : 1 2
예제 출력 : 2

In [134]:
A_subtract_B()

예제 입력 : 3 2
예제 출력 : 1

In [135]:
A_divide_B()

예제 입력 : 1 3
예제 출력 : 0.3333333333333333

In [170]:
three_list = []
five_list = []

In [171]:
count = 1000
for data in range(1, count):
    if data % 3 == 0:
        three_list.append(data)
        
    if data % 5 == 0:
#         if data % 15 == 0:
#             continue
        five_list.append(data)

In [166]:
print(three_list)

[3, 6, 9, 12, 15, 18, 21, 24, 27, 30, 33, 36, 39, 42, 45, 48, 51, 54, 57, 60, 63, 66, 69, 72, 75, 78, 81, 84, 87, 90, 93, 96, 99, 102, 105, 108, 111, 114, 117, 120, 123, 126, 129, 132, 135, 138, 141, 144, 147, 150, 153, 156, 159, 162, 165, 168, 171, 174, 177, 180, 183, 186, 189, 192, 195, 198, 201, 204, 207, 210, 213, 216, 219, 222, 225, 228, 231, 234, 237, 240, 243, 246, 249, 252, 255, 258, 261, 264, 267, 270, 273, 276, 279, 282, 285, 288, 291, 294, 297, 300, 303, 306, 309, 312, 315, 318, 321, 324, 327, 330, 333, 336, 339, 342, 345, 348, 351, 354, 357, 360, 363, 366, 369, 372, 375, 378, 381, 384, 387, 390, 393, 396, 399, 402, 405, 408, 411, 414, 417, 420, 423, 426, 429, 432, 435, 438, 441, 444, 447, 450, 453, 456, 459, 462, 465, 468, 471, 474, 477, 480, 483, 486, 489, 492, 495, 498, 501, 504, 507, 510, 513, 516, 519, 522, 525, 528, 531, 534, 537, 540, 543, 546, 549, 552, 555, 558, 561, 564, 567, 570, 573, 576, 579, 582, 585, 588, 591, 594, 597, 600, 603, 606, 609, 612, 615, 618, 621, 624, 627, 630, 633, 636, 639, 642, 645, 648, 651, 654, 657, 660, 663, 666, 669, 672, 675, 678, 681, 684, 687, 690, 693, 696, 699, 702, 705, 708, 711, 714, 717, 720, 723, 726, 729, 732, 735, 738, 741, 744, 747, 750, 753, 756, 759, 762, 765, 768, 771, 774, 777, 780, 783, 786, 789, 792, 795, 798, 801, 804, 807, 810, 813, 816, 819, 822, 825, 828, 831, 834, 837, 840, 843, 846, 849, 852, 855, 858, 861, 864, 867, 870, 873, 876, 879, 882, 885, 888, 891, 894, 897, 900, 903, 906, 909, 912, 915, 918, 921, 924, 927, 930, 933, 936, 939, 942, 945, 948, 951, 954, 957, 960, 963, 966, 969, 972, 975, 978, 981, 984, 987, 990, 993, 996, 999]

In [167]:
print(five_list)

[5, 10, 20, 25, 35, 40, 50, 55, 65, 70, 80, 85, 95, 100, 110, 115, 125, 130, 140, 145, 155, 160, 170, 175, 185, 190, 200, 205, 215, 220, 230, 235, 245, 250, 260, 265, 275, 280, 290, 295, 305, 310, 320, 325, 335, 340, 350, 355, 365, 370, 380, 385, 395, 400, 410, 415, 425, 430, 440, 445, 455, 460, 470, 475, 485, 490, 500, 505, 515, 520, 530, 535, 545, 550, 560, 565, 575, 580, 590, 595, 605, 610, 620, 625, 635, 640, 650, 655, 665, 670, 680, 685, 695, 700, 710, 715, 725, 730, 740, 745, 755, 760, 770, 775, 785, 790, 800, 805, 815, 820, 830, 835, 845, 850, 860, 865, 875, 880, 890, 895, 905, 910, 920, 925, 935, 940, 950, 955, 965, 970, 980, 985, 995]

In [168]:
print(three_list + five_list)

[3, 6, 9, 12, 15, 18, 21, 24, 27, 30, 33, 36, 39, 42, 45, 48, 51, 54, 57, 60, 63, 66, 69, 72, 75, 78, 81, 84, 87, 90, 93, 96, 99, 102, 105, 108, 111, 114, 117, 120, 123, 126, 129, 132, 135, 138, 141, 144, 147, 150, 153, 156, 159, 162, 165, 168, 171, 174, 177, 180, 183, 186, 189, 192, 195, 198, 201, 204, 207, 210, 213, 216, 219, 222, 225, 228, 231, 234, 237, 240, 243, 246, 249, 252, 255, 258, 261, 264, 267, 270, 273, 276, 279, 282, 285, 288, 291, 294, 297, 300, 303, 306, 309, 312, 315, 318, 321, 324, 327, 330, 333, 336, 339, 342, 345, 348, 351, 354, 357, 360, 363, 366, 369, 372, 375, 378, 381, 384, 387, 390, 393, 396, 399, 402, 405, 408, 411, 414, 417, 420, 423, 426, 429, 432, 435, 438, 441, 444, 447, 450, 453, 456, 459, 462, 465, 468, 471, 474, 477, 480, 483, 486, 489, 492, 495, 498, 501, 504, 507, 510, 513, 516, 519, 522, 525, 528, 531, 534, 537, 540, 543, 546, 549, 552, 555, 558, 561, 564, 567, 570, 573, 576, 579, 582, 585, 588, 591, 594, 597, 600, 603, 606, 609, 612, 615, 618, 621, 624, 627, 630, 633, 636, 639, 642, 645, 648, 651, 654, 657, 660, 663, 666, 669, 672, 675, 678, 681, 684, 687, 690, 693, 696, 699, 702, 705, 708, 711, 714, 717, 720, 723, 726, 729, 732, 735, 738, 741, 744, 747, 750, 753, 756, 759, 762, 765, 768, 771, 774, 777, 780, 783, 786, 789, 792, 795, 798, 801, 804, 807, 810, 813, 816, 819, 822, 825, 828, 831, 834, 837, 840, 843, 846, 849, 852, 855, 858, 861, 864, 867, 870, 873, 876, 879, 882, 885, 888, 891, 894, 897, 900, 903, 906, 909, 912, 915, 918, 921, 924, 927, 930, 933, 936, 939, 942, 945, 948, 951, 954, 957, 960, 963, 966, 969, 972, 975, 978, 981, 984, 987, 990, 993, 996, 999, 5, 10, 20, 25, 35, 40, 50, 55, 65, 70, 80, 85, 95, 100, 110, 115, 125, 130, 140, 145, 155, 160, 170, 175, 185, 190, 200, 205, 215, 220, 230, 235, 245, 250, 260, 265, 275, 280, 290, 295, 305, 310, 320, 325, 335, 340, 350, 355, 365, 370, 380, 385, 395, 400, 410, 415, 425, 430, 440, 445, 455, 460, 470, 475, 485, 490, 500, 505, 515, 520, 530, 535, 545, 550, 560, 565, 575, 580, 590, 595, 605, 610, 620, 625, 635, 640, 650, 655, 665, 670, 680, 685, 695, 700, 710, 715, 725, 730, 740, 745, 755, 760, 770, 775, 785, 790, 800, 805, 815, 820, 830, 835, 845, 850, 860, 865, 875, 880, 890, 895, 905, 910, 920, 925, 935, 940, 950, 955, 965, 970, 980, 985, 995]

In [146]:
sum(three_list + five_list)

266333

In [172]:
three_set = set(three_list)
five_set = set(five_list)

In [150]:
print(three_set)

{3, 6, 9, 12, 15, 18, 21, 24, 27, 30, 33, 36, 39, 42, 45, 48, 51, 54, 57, 60, 63, 66, 69, 72, 75, 78, 81, 84, 87, 90, 93, 96, 99, 102, 105, 108, 111, 114, 117, 120, 123, 126, 129, 132, 135, 138, 141, 144, 147, 150, 153, 156, 159, 162, 165, 168, 171, 174, 177, 180, 183, 186, 189, 192, 195, 198, 201, 204, 207, 210, 213, 216, 219, 222, 225, 228, 231, 234, 237, 240, 243, 246, 249, 252, 255, 258, 261, 264, 267, 270, 273, 276, 279, 282, 285, 288, 291, 294, 297, 300, 303, 306, 309, 312, 315, 318, 321, 324, 327, 330, 333, 336, 339, 342, 345, 348, 351, 354, 357, 360, 363, 366, 369, 372, 375, 378, 381, 384, 387, 390, 393, 396, 399, 402, 405, 408, 411, 414, 417, 420, 423, 426, 429, 432, 435, 438, 441, 444, 447, 450, 453, 456, 459, 462, 465, 468, 471, 474, 477, 480, 483, 486, 489, 492, 495, 498, 501, 504, 507, 510, 513, 516, 519, 522, 525, 528, 531, 534, 537, 540, 543, 546, 549, 552, 555, 558, 561, 564, 567, 570, 573, 576, 579, 582, 585, 588, 591, 594, 597, 600, 603, 606, 609, 612, 615, 618, 621, 624, 627, 630, 633, 636, 639, 642, 645, 648, 651, 654, 657, 660, 663, 666, 669, 672, 675, 678, 681, 684, 687, 690, 693, 696, 699, 702, 705, 708, 711, 714, 717, 720, 723, 726, 729, 732, 735, 738, 741, 744, 747, 750, 753, 756, 759, 762, 765, 768, 771, 774, 777, 780, 783, 786, 789, 792, 795, 798, 801, 804, 807, 810, 813, 816, 819, 822, 825, 828, 831, 834, 837, 840, 843, 846, 849, 852, 855, 858, 861, 864, 867, 870, 873, 876, 879, 882, 885, 888, 891, 894, 897, 900, 903, 906, 909, 912, 915, 918, 921, 924, 927, 930, 933, 936, 939, 942, 945, 948, 951, 954, 957, 960, 963, 966, 969, 972, 975, 978, 981, 984, 987, 990, 993, 996, 999}

In [151]:
print(five_set)

{515, 5, 520, 10, 525, 15, 530, 20, 535, 25, 540, 30, 545, 35, 550, 40, 555, 45, 560, 50, 565, 55, 570, 60, 575, 65, 580, 70, 585, 75, 590, 80, 595, 85, 600, 90, 605, 95, 610, 100, 615, 105, 620, 110, 625, 115, 630, 120, 635, 125, 640, 130, 645, 135, 650, 140, 655, 145, 660, 150, 665, 155, 670, 160, 675, 165, 680, 170, 685, 175, 690, 180, 695, 185, 700, 190, 705, 195, 710, 200, 715, 205, 720, 210, 725, 215, 730, 220, 735, 225, 740, 230, 745, 235, 750, 240, 755, 245, 760, 250, 765, 255, 770, 260, 775, 265, 780, 270, 785, 275, 790, 280, 795, 285, 800, 290, 805, 295, 810, 300, 815, 305, 820, 310, 825, 315, 830, 320, 835, 325, 840, 330, 845, 335, 850, 340, 855, 345, 860, 350, 865, 355, 870, 360, 875, 365, 880, 370, 885, 375, 890, 380, 895, 385, 900, 390, 905, 395, 910, 400, 915, 405, 920, 410, 925, 415, 930, 420, 935, 425, 940, 430, 945, 435, 950, 440, 955, 445, 960, 450, 965, 455, 970, 460, 975, 465, 980, 470, 985, 475, 990, 480, 995, 485, 490, 495, 500, 505, 510}

In [153]:
print(dir(three_set))

['__and__', '__class__', '__contains__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__gt__', '__hash__', '__iand__', '__init__', '__init_subclass__', '__ior__', '__isub__', '__iter__', '__ixor__', '__le__', '__len__', '__lt__', '__ne__', '__new__', '__or__', '__rand__', '__reduce__', '__reduce_ex__', '__repr__', '__ror__', '__rsub__', '__rxor__', '__setattr__', '__sizeof__', '__str__', '__sub__', '__subclasshook__', '__xor__', 'add', 'clear', 'copy', 'difference', 'difference_update', 'discard', 'intersection', 'intersection_update', 'isdisjoint', 'issubset', 'issuperset', 'pop', 'remove', 'symmetric_difference', 'symmetric_difference_update', 'union', 'update']

In [155]:
union = three_set.union(five_set)

In [173]:
intersection = three_set.intersection(five_set)

In [174]:
print(intersection)

{900, 645, 390, 135, 780, 525, 270, 15, 915, 660, 405, 150, 795, 540, 285, 30, 930, 675, 420, 165, 810, 555, 300, 45, 945, 690, 435, 180, 825, 570, 315, 60, 960, 705, 450, 195, 840, 585, 330, 75, 975, 720, 465, 210, 855, 600, 345, 90, 990, 735, 480, 225, 870, 615, 360, 105, 750, 495, 240, 885, 630, 375, 120, 765, 510, 255}

In [156]:
print(union)

{3, 5, 6, 9, 10, 12, 15, 18, 20, 21, 24, 25, 27, 30, 33, 35, 36, 39, 40, 42, 45, 48, 50, 51, 54, 55, 57, 60, 63, 65, 66, 69, 70, 72, 75, 78, 80, 81, 84, 85, 87, 90, 93, 95, 96, 99, 100, 102, 105, 108, 110, 111, 114, 115, 117, 120, 123, 125, 126, 129, 130, 132, 135, 138, 140, 141, 144, 145, 147, 150, 153, 155, 156, 159, 160, 162, 165, 168, 170, 171, 174, 175, 177, 180, 183, 185, 186, 189, 190, 192, 195, 198, 200, 201, 204, 205, 207, 210, 213, 215, 216, 219, 220, 222, 225, 228, 230, 231, 234, 235, 237, 240, 243, 245, 246, 249, 250, 252, 255, 258, 260, 261, 264, 265, 267, 270, 273, 275, 276, 279, 280, 282, 285, 288, 290, 291, 294, 295, 297, 300, 303, 305, 306, 309, 310, 312, 315, 318, 320, 321, 324, 325, 327, 330, 333, 335, 336, 339, 340, 342, 345, 348, 350, 351, 354, 355, 357, 360, 363, 365, 366, 369, 370, 372, 375, 378, 380, 381, 384, 385, 387, 390, 393, 395, 396, 399, 400, 402, 405, 408, 410, 411, 414, 415, 417, 420, 423, 425, 426, 429, 430, 432, 435, 438, 440, 441, 444, 445, 447, 450, 453, 455, 456, 459, 460, 462, 465, 468, 470, 471, 474, 475, 477, 480, 483, 485, 486, 489, 490, 492, 495, 498, 500, 501, 504, 505, 507, 510, 513, 515, 516, 519, 520, 522, 525, 528, 530, 531, 534, 535, 537, 540, 543, 545, 546, 549, 550, 552, 555, 558, 560, 561, 564, 565, 567, 570, 573, 575, 576, 579, 580, 582, 585, 588, 590, 591, 594, 595, 597, 600, 603, 605, 606, 609, 610, 612, 615, 618, 620, 621, 624, 625, 627, 630, 633, 635, 636, 639, 640, 642, 645, 648, 650, 651, 654, 655, 657, 660, 663, 665, 666, 669, 670, 672, 675, 678, 680, 681, 684, 685, 687, 690, 693, 695, 696, 699, 700, 702, 705, 708, 710, 711, 714, 715, 717, 720, 723, 725, 726, 729, 730, 732, 735, 738, 740, 741, 744, 745, 747, 750, 753, 755, 756, 759, 760, 762, 765, 768, 770, 771, 774, 775, 777, 780, 783, 785, 786, 789, 790, 792, 795, 798, 800, 801, 804, 805, 807, 810, 813, 815, 816, 819, 820, 822, 825, 828, 830, 831, 834, 835, 837, 840, 843, 845, 846, 849, 850, 852, 855, 858, 860, 861, 864, 865, 867, 870, 873, 875, 876, 879, 880, 882, 885, 888, 890, 891, 894, 895, 897, 900, 903, 905, 906, 909, 910, 912, 915, 918, 920, 921, 924, 925, 927, 930, 933, 935, 936, 939, 940, 942, 945, 948, 950, 951, 954, 955, 957, 960, 963, 965, 966, 969, 970, 972, 975, 978, 980, 981, 984, 985, 987, 990, 993, 995, 996, 999}

In [157]:
sum(union)

233168

In [169]:
sum(three_list + five_list)

233168

In [176]:
target = 1
is_loop = True

range_value = 21

while is_loop:
    result = []
    for data in range(1, range_value):
        if target % data == 0:
            result.append(True)
    
    if len(result) == range_value - 1:
        print(target)
        is_loop=False
        break
        
    target += 1

232792560

In [177]:
2**15

32768

In [178]:
2**1000

10715086071862673209484250490600018105614048117055336074437503883703510511249361224931983788156958581275946729175531468251871452856923140435984577574698574803934567774824230985421074605062371141877954182153046474983581941267398767559165543946077062914571196477686542167660429831652624386837205668069376

In [179]:
10715086071862673209484250490600018105614048117055336074437503883703510511249361224931983788156958581275946729175531468251871452856923140435984577574698574803934567774824230985421074605062371141877954182153046474983581941267398767559165543946077062914571196477686542167660429831652624386837205668069376

10715086071862673209484250490600018105614048117055336074437503883703510511249361224931983788156958581275946729175531468251871452856923140435984577574698574803934567774824230985421074605062371141877954182153046474983581941267398767559165543946077062914571196477686542167660429831652624386837205668069376

In [188]:
a = 2**1000

In [189]:
a

10715086071862673209484250490600018105614048117055336074437503883703510511249361224931983788156958581275946729175531468251871452856923140435984577574698574803934567774824230985421074605062371141877954182153046474983581941267398767559165543946077062914571196477686542167660429831652624386837205668069376

In [190]:
str(a)

'10715086071862673209484250490600018105614048117055336074437503883703510511249361224931983788156958581275946729175531468251871452856923140435984577574698574803934567774824230985421074605062371141877954182153046474983581941267398767559165543946077062914571196477686542167660429831652624386837205668069376'

In [192]:
total = 0
for data in str(a):
    print(data)
    total += int(data)
    
total

1
0
7
1
5
0
8
6
0
7
1
8
6
2
6
7
3
2
0
9
4
8
4
2
5
0
4
9
0
6
0
0
0
1
8
1
0
5
6
1
4
0
4
8
1
1
7
0
5
5
3
3
6
0
7
4
4
3
7
5
0
3
8
8
3
7
0
3
5
1
0
5
1
1
2
4
9
3
6
1
2
2
4
9
3
1
9
8
3
7
8
8
1
5
6
9
5
8
5
8
1
2
7
5
9
4
6
7
2
9
1
7
5
5
3
1
4
6
8
2
5
1
8
7
1
4
5
2
8
5
6
9
2
3
1
4
0
4
3
5
9
8
4
5
7
7
5
7
4
6
9
8
5
7
4
8
0
3
9
3
4
5
6
7
7
7
4
8
2
4
2
3
0
9
8
5
4
2
1
0
7
4
6
0
5
0
6
2
3
7
1
1
4
1
8
7
7
9
5
4
1
8
2
1
5
3
0
4
6
4
7
4
9
8
3
5
8
1
9
4
1
2
6
7
3
9
8
7
6
7
5
5
9
1
6
5
5
4
3
9
4
6
0
7
7
0
6
2
9
1
4
5
7
1
1
9
6
4
7
7
6
8
6
5
4
2
1
6
7
6
6
0
4
2
9
8
3
1
6
5
2
6
2
4
3
8
6
8
3
7
2
0
5
6
6
8
0
6
9
3
7
6

1366

In [193]:
from datetime import datetime

In [200]:
a = datetime(1900, 1, 8)

In [202]:
a.weekday()

0

In [197]:
print(dir(a))

['__add__', '__class__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__le__', '__lt__', '__ne__', '__new__', '__radd__', '__reduce__', '__reduce_ex__', '__repr__', '__rsub__', '__setattr__', '__sizeof__', '__str__', '__sub__', '__subclasshook__', 'astimezone', 'combine', 'ctime', 'date', 'day', 'dst', 'fold', 'fromisocalendar', 'fromisoformat', 'fromordinal', 'fromtimestamp', 'hour', 'isocalendar', 'isoformat', 'isoweekday', 'max', 'microsecond', 'min', 'minute', 'month', 'now', 'replace', 'resolution', 'second', 'strftime', 'strptime', 'time', 'timestamp', 'timetuple', 'timetz', 'today', 'toordinal', 'tzinfo', 'tzname', 'utcfromtimestamp', 'utcnow', 'utcoffset', 'utctimetuple', 'weekday', 'year']

In [204]:
total = 0
result = []
for year in range(1901, 2001):
    for month in range(1, 13):
        if datetime(year, month, 1).weekday() == 0:
            result.append(datetime(year, month, 1))
            total += 1
            
print(total)

172

In [205]:
result

[datetime.datetime(1901, 4, 1, 0, 0),
 datetime.datetime(1901, 7, 1, 0, 0),
 datetime.datetime(1902, 9, 1, 0, 0),
 datetime.datetime(1902, 12, 1, 0, 0),
 datetime.datetime(1903, 6, 1, 0, 0),
 datetime.datetime(1904, 2, 1, 0, 0),
 datetime.datetime(1904, 8, 1, 0, 0),
 datetime.datetime(1905, 5, 1, 0, 0),
 datetime.datetime(1906, 1, 1, 0, 0),
 datetime.datetime(1906, 10, 1, 0, 0),
 datetime.datetime(1907, 4, 1, 0, 0),
 datetime.datetime(1907, 7, 1, 0, 0),
 datetime.datetime(1908, 6, 1, 0, 0),
 datetime.datetime(1909, 2, 1, 0, 0),
 datetime.datetime(1909, 3, 1, 0, 0),
 datetime.datetime(1909, 11, 1, 0, 0),
 datetime.datetime(1910, 8, 1, 0, 0),
 datetime.datetime(1911, 5, 1, 0, 0),
 datetime.datetime(1912, 1, 1, 0, 0),
 datetime.datetime(1912, 4, 1, 0, 0),
 datetime.datetime(1912, 7, 1, 0, 0),
 datetime.datetime(1913, 9, 1, 0, 0),
 datetime.datetime(1913, 12, 1, 0, 0),
 datetime.datetime(1914, 6, 1, 0, 0),
 datetime.datetime(1915, 2, 1, 0, 0),
 datetime.datetime(1915, 3, 1, 0, 0),
 datetime.datetime(1915, 11, 1, 0, 0),
 datetime.datetime(1916, 5, 1, 0, 0),
 datetime.datetime(1917, 1, 1, 0, 0),
 datetime.datetime(1917, 10, 1, 0, 0),
 datetime.datetime(1918, 4, 1, 0, 0),
 datetime.datetime(1918, 7, 1, 0, 0),
 datetime.datetime(1919, 9, 1, 0, 0),
 datetime.datetime(1919, 12, 1, 0, 0),
 datetime.datetime(1920, 3, 1, 0, 0),
 datetime.datetime(1920, 11, 1, 0, 0),
 datetime.datetime(1921, 8, 1, 0, 0),
 datetime.datetime(1922, 5, 1, 0, 0),
 datetime.datetime(1923, 1, 1, 0, 0),
 datetime.datetime(1923, 10, 1, 0, 0),
 datetime.datetime(1924, 9, 1, 0, 0),
 datetime.datetime(1924, 12, 1, 0, 0),
 datetime.datetime(1925, 6, 1, 0, 0),
 datetime.datetime(1926, 2, 1, 0, 0),
 datetime.datetime(1926, 3, 1, 0, 0),
 datetime.datetime(1926, 11, 1, 0, 0),
 datetime.datetime(1927, 8, 1, 0, 0),
 datetime.datetime(1928, 10, 1, 0, 0),
 datetime.datetime(1929, 4, 1, 0, 0),
 datetime.datetime(1929, 7, 1, 0, 0),
 datetime.datetime(1930, 9, 1, 0, 0),
 datetime.datetime(1930, 12, 1, 0, 0),
 datetime.datetime(1931, 6, 1, 0, 0),
 datetime.datetime(1932, 2, 1, 0, 0),
 datetime.datetime(1932, 8, 1, 0, 0),
 datetime.datetime(1933, 5, 1, 0, 0),
 datetime.datetime(1934, 1, 1, 0, 0),
 datetime.datetime(1934, 10, 1, 0, 0),
 datetime.datetime(1935, 4, 1, 0, 0),
 datetime.datetime(1935, 7, 1, 0, 0),
 datetime.datetime(1936, 6, 1, 0, 0),
 datetime.datetime(1937, 2, 1, 0, 0),
 datetime.datetime(1937, 3, 1, 0, 0),
 datetime.datetime(1937, 11, 1, 0, 0),
 datetime.datetime(1938, 8, 1, 0, 0),
 datetime.datetime(1939, 5, 1, 0, 0),
 datetime.datetime(1940, 1, 1, 0, 0),
 datetime.datetime(1940, 4, 1, 0, 0),
 datetime.datetime(1940, 7, 1, 0, 0),
 datetime.datetime(1941, 9, 1, 0, 0),
 datetime.datetime(1941, 12, 1, 0, 0),
 datetime.datetime(1942, 6, 1, 0, 0),
 datetime.datetime(1943, 2, 1, 0, 0),
 datetime.datetime(1943, 3, 1, 0, 0),
 datetime.datetime(1943, 11, 1, 0, 0),
 datetime.datetime(1944, 5, 1, 0, 0),
 datetime.datetime(1945, 1, 1, 0, 0),
 datetime.datetime(1945, 10, 1, 0, 0),
 datetime.datetime(1946, 4, 1, 0, 0),
 datetime.datetime(1946, 7, 1, 0, 0),
 datetime.datetime(1947, 9, 1, 0, 0),
 datetime.datetime(1947, 12, 1, 0, 0),
 datetime.datetime(1948, 3, 1, 0, 0),
 datetime.datetime(1948, 11, 1, 0, 0),
 datetime.datetime(1949, 8, 1, 0, 0),
 datetime.datetime(1950, 5, 1, 0, 0),
 datetime.datetime(1951, 1, 1, 0, 0),
 datetime.datetime(1951, 10, 1, 0, 0),
 datetime.datetime(1952, 9, 1, 0, 0),
 datetime.datetime(1952, 12, 1, 0, 0),
 datetime.datetime(1953, 6, 1, 0, 0),
 datetime.datetime(1954, 2, 1, 0, 0),
 datetime.datetime(1954, 3, 1, 0, 0),
 datetime.datetime(1954, 11, 1, 0, 0),
 datetime.datetime(1955, 8, 1, 0, 0),
 datetime.datetime(1956, 10, 1, 0, 0),
 datetime.datetime(1957, 4, 1, 0, 0),
 datetime.datetime(1957, 7, 1, 0, 0),
 datetime.datetime(1958, 9, 1, 0, 0),
 datetime.datetime(1958, 12, 1, 0, 0),
 datetime.datetime(1959, 6, 1, 0, 0),
 datetime.datetime(1960, 2, 1, 0, 0),
 datetime.datetime(1960, 8, 1, 0, 0),
 datetime.datetime(1961, 5, 1, 0, 0),
 datetime.datetime(1962, 1, 1, 0, 0),
 datetime.datetime(1962, 10, 1, 0, 0),
 datetime.datetime(1963, 4, 1, 0, 0),
 datetime.datetime(1963, 7, 1, 0, 0),
 datetime.datetime(1964, 6, 1, 0, 0),
 datetime.datetime(1965, 2, 1, 0, 0),
 datetime.datetime(1965, 3, 1, 0, 0),
 datetime.datetime(1965, 11, 1, 0, 0),
 datetime.datetime(1966, 8, 1, 0, 0),
 datetime.datetime(1967, 5, 1, 0, 0),
 datetime.datetime(1968, 1, 1, 0, 0),
 datetime.datetime(1968, 4, 1, 0, 0),
 datetime.datetime(1968, 7, 1, 0, 0),
 datetime.datetime(1969, 9, 1, 0, 0),
 datetime.datetime(1969, 12, 1, 0, 0),
 datetime.datetime(1970, 6, 1, 0, 0),
 datetime.datetime(1971, 2, 1, 0, 0),
 datetime.datetime(1971, 3, 1, 0, 0),
 datetime.datetime(1971, 11, 1, 0, 0),
 datetime.datetime(1972, 5, 1, 0, 0),
 datetime.datetime(1973, 1, 1, 0, 0),
 datetime.datetime(1973, 10, 1, 0, 0),
 datetime.datetime(1974, 4, 1, 0, 0),
 datetime.datetime(1974, 7, 1, 0, 0),
 datetime.datetime(1975, 9, 1, 0, 0),
 datetime.datetime(1975, 12, 1, 0, 0),
 datetime.datetime(1976, 3, 1, 0, 0),
 datetime.datetime(1976, 11, 1, 0, 0),
 datetime.datetime(1977, 8, 1, 0, 0),
 datetime.datetime(1978, 5, 1, 0, 0),
 datetime.datetime(1979, 1, 1, 0, 0),
 datetime.datetime(1979, 10, 1, 0, 0),
 datetime.datetime(1980, 9, 1, 0, 0),
 datetime.datetime(1980, 12, 1, 0, 0),
 datetime.datetime(1981, 6, 1, 0, 0),
 datetime.datetime(1982, 2, 1, 0, 0),
 datetime.datetime(1982, 3, 1, 0, 0),
 datetime.datetime(1982, 11, 1, 0, 0),
 datetime.datetime(1983, 8, 1, 0, 0),
 datetime.datetime(1984, 10, 1, 0, 0),
 datetime.datetime(1985, 4, 1, 0, 0),
 datetime.datetime(1985, 7, 1, 0, 0),
 datetime.datetime(1986, 9, 1, 0, 0),
 datetime.datetime(1986, 12, 1, 0, 0),
 datetime.datetime(1987, 6, 1, 0, 0),
 datetime.datetime(1988, 2, 1, 0, 0),
 datetime.datetime(1988, 8, 1, 0, 0),
 datetime.datetime(1989, 5, 1, 0, 0),
 datetime.datetime(1990, 1, 1, 0, 0),
 datetime.datetime(1990, 10, 1, 0, 0),
 datetime.datetime(1991, 4, 1, 0, 0),
 datetime.datetime(1991, 7, 1, 0, 0),
 datetime.datetime(1992, 6, 1, 0, 0),
 datetime.datetime(1993, 2, 1, 0, 0),
 datetime.datetime(1993, 3, 1, 0, 0),
 datetime.datetime(1993, 11, 1, 0, 0),
 datetime.datetime(1994, 8, 1, 0, 0),
 datetime.datetime(1995, 5, 1, 0, 0),
 datetime.datetime(1996, 1, 1, 0, 0),
 datetime.datetime(1996, 4, 1, 0, 0),
 datetime.datetime(1996, 7, 1, 0, 0),
 datetime.datetime(1997, 9, 1, 0, 0),
 datetime.datetime(1997, 12, 1, 0, 0),
 datetime.datetime(1998, 6, 1, 0, 0),
 datetime.datetime(1999, 2, 1, 0, 0),
 datetime.datetime(1999, 3, 1, 0, 0),
 datetime.datetime(1999, 11, 1, 0, 0),
 datetime.datetime(2000, 5, 1, 0, 0)]

In [212]:
count = 2
count_result = []

while True:
    result = []
    for data in range(1, count + 1):
        if len(result) >= 3:
            break
            
        if count % data == 0:
            result.append(True)
            
    if len(result) == 2:
        count_result.append(count)
        if len(count_result) == 6:
            break
    count += 1

print(count_result[len(count_result) - 1])
print(count_result)

13
[2, 3, 5, 7, 11, 13]